* {
    text-align: center;
}

body #hero {
 margin-bottom: 250px;
}


body #hero h1 {
 font-size: 49px;
 font-family: 'Inter';
 font-weight: 400;

 margin-top: 72px;
 line-height: 56px;
}

body #unicos {
    color: #F90;
    font-weight: 700;
}

body p {
    font-family: 'Open Sans';
    color: #7D7987;
    font-size: 14px;
    line-height: 28px;
    margin-top: 32px;

}

body p .boldletters{
    font-weight: 700;
}

body p .orangeletters{
    color: #F90;
}

footer {

    display: flex;

    border-top: solid 1px #ECEFF2;
    width: 592px; 
    line-height: 28px;
    padding-top: 8px;

    justify-content: center;
    margin: 0 auto;

}

footer a { 

    text-decoration: none;
    color: #F90;
    font-family: 'Open Sans';   
    font-size: 14px;

}

footer #balls {

    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
}